@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Spline+Sans+Mono:wght@300;600&display=swap');

//vars fonts
$mainFont: "Spline Sans Mono", sans-serif;
$secondaryFont:"Rubik Mono One", sans-serif;

//sizes
$textSm: 0.9em;
$textMd: 1em;
$textLg: 1.6em;
$textXl: 3em;

